.form {
  position: relative;
  display: inline-block;
  padding-top: 50px;
}

.forma {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.options {
  top: 100%;
  left: 0;
  z-index: 9999;
}


.option {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;

}

.option:hover {
  background-color: #f9f9f9;
}


.button {
  display: block;
  width: 180px;
  padding: 15px;
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(257deg, #f59c07, #f57507);
}